.outerdiv {
    height: 480px;
    width: 50%;
    text-align: center;
    background-color: rgba(162, 157, 157, 0.5);
    padding-top: 70px;
    z-index: 2;

}

.firstrow {
    display: flex;
    justify-content: center;

}

.inputfield {
    width: 55%;
    border: none;
    outline: none;
    color: grey;
    background-color: white;
    height: 40px;
    border-radius: 10px;

}



.btnOne {
    width: 10%;
    border: none;
    background-color: darkslategrey;
    color: grey;
    background-color: white;
    height: 40px;
}

.weatherIcon {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;

}

.information {
    color: #70757a;
    display: flex;
    justify-content: left;
}

.streetIcon {
    margin-right: 10px;
    color: rgb(54, 54, 105);
}

.weatherToday {
    position: absolute;
    top: 35px;
    right: 80px;
    color: black;
    font-size: x-large;
}

.forecastDays {
    margin-top: 50px;
    border: 2px solid blue;
    width: 100%;
    height: 30vh;
    background-color: aquamarine;
    opacity: 0.6;
}


.Fore--Cast {
    display: flex;
}

.objectDiv {
    width: 100px;
    height: 50px;
    border: 3px solid red;
}