.outerdiv {
    height: 500px;
    width: 50%;
    text-align: center;

    padding-top: 70px;
    z-index: 2
}

.firstrow {
    display: flex;
    justify-content: center;

}

.inputfield {
    width: 55%;
    border: none;
    outline: none;
    color: grey;
    background-color: white;
    height: 40px;

}



.btnOne {
    width: 10%;
    border: none;
    background-color: darkslategrey;
    color: grey;
    background-color: white;
    height: 40px;
}

.weatherIcon {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;

}

.information {
    color: #70757a;
    display: flex;
    justify-content: left;
}

.streetIcon {
    margin-right: 10px;
    color: rgb(54, 54, 105);
}

.weatherToday {
    position: absolute;
    top: 35px;
    right: 80px;
    color: black;
    font-size: x-large;
}